@page "/orders/{currentPage:int?}"
@model Shoppu.WebUI.Pages.Orders.ListModel
@using Shoppu.Domain.Enums
@using Shoppu.Domain.Extensions
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "My orders";
}

<div class="container my-4">
    @if (@Model.Orders.OrderList.Count() > 0)
    {
        @foreach (var order in @Model.Orders.OrderList)
        {
            <a asp-page="/Orders/Details" asp-route-orderNumber="@order.OrderNumber">
                <div class="box order-list-box mb-4">
                    <p class="subtitle is-6 mb-2 is-flex is-justify-content-space-between is-grey">
                        <span>#@order.OrderNumber</span>
                        <span>@order.DateOrdered.ToLocalTime()</span>
                    </p>
                    <p class="subtitle is-3 mb-1">
                        <span>Total: <strong>@order.TotalPrice$</strong></span>

                    </p>
                    <p class="subtitle is-6"><span>Paid with
                            <strong class="has-text-success">
                                @(order.PaymentMethod.GetAttribute<DisplayAttribute>().Name)
                            </strong>
                        </span>
                    </p>
                </div>
            </a>
        }
        <partial name="_ListPagination" model="@Model.Orders.Pagination" />
    }
    else
    {
        <p class="subtitle is-3 mt-6 has-text-centered is-ff-nanum">You did not order anything yet.</p>
    }
</div>