@page "/manage/createvariantsizes/{productId:int}/{variantId:int}"
@model Shoppu.WebUI.Pages.Products.CreateVariantSizesModel
@{
	ViewData["Title"] = "Create variant sizes";
	int index = 0;
}

<div class="container px-3">
	@if (Model?.Notification != null)
	{
		<partial name="_Notification" model="@Model.Notification" />
	}
	<a class="button is-ghost px-0 mb-3" asp-page="/Products/Manage"
		asp-route-categoryUrl="@Model.Product.ProductCategory.UrlName" asp-route-code="@Model.Product.Code">
		<i class="fa fa-arrow-left mr-2"></i>
		Go back to managing products
	</a>
	<form method="post">
		<input type="hidden" asp-for="@Model.ProductId" />
		<input type="hidden" asp-for="@Model.VariantId" />
		<div class="columns is-multiline">
			@foreach (var size in @Model.ProductVariantSizes)
			{
				<div data-sizeId="@size.SizeId" class="column is-3 px-6 size-form-field">
					<input name="ProductVariantSizes[@index].SizeName" type="hidden" asp-for="@size.SizeName" />
					<input name="ProductVariantSizes[@index].SizeId" type="hidden" asp-for="@size.SizeId" />
					<div class="has-text-centered">
						<p class="title mb-2">
							@size.SizeName
						</p>
						<label class="checkbox pt-3">
							<p>@Html.DisplayNameFor(model =>
							model.ProductVariantSizes.FirstOrDefault().AddSizeAsVariantOption)</p>
							<input data-sizeId="@size.SizeId" class="add-size-checkbox"
							name="ProductVariantSizes[@index].AddSizeAsVariantOption" type="checkbox"
							asp-for="@size.AddSizeAsVariantOption" />

						</label>
						<div class="field pt-3">
							<label class="label" asp-for="@size.Quantity"></label>
							<div class="control">
								<input @(size.AddSizeAsVariantOption ? null : "disabled")
								name="ProductVariantSizes[@index].Quantity" class="input quantity-input" type="number"
								min="0" step="1" asp-for="@Model.ProductVariantSizes[index].Quantity"
								value="@Model.ProductVariantSizes[index].Quantity"
								placeholder="Enter available quantity">
								<span name="ProductVariantSizes[@index].Quantity"
								asp-validation-for="@Model.ProductVariantSizes[index].Quantity"
								class="has-text-danger"></span>
							</div>
						</div>
					</div>
				</div>
				index++;
			}
		</div>
		<button type="submit" class="button is-primary">Add sizes to variant</button>
	</form>
</div>
@section Scripts {
<script>
	var $sizeFormFieldsAddSizeCheckboxes = $('.add-size-checkbox');

	$($sizeFormFieldsAddSizeCheckboxes).each((i, checkbox) => {
		$(checkbox).on('change', (e) => {
			var checkboxSizeId = $(checkbox).attr("data-sizeId")
			if (checkbox.checked) {
				$(`.size-form-field[data-sizeId="${checkboxSizeId}"] .quantity-input`).removeAttr("disabled");
			}
			else {
				$(`.size-form-field[data-sizeId="${checkboxSizeId}"] .quantity-input`).attr("disabled", "");

			}
		})
	})


</script>
}