@model Shoppu.Domain.ViewModels.BrowseSideMenuViewModel
@using Shoppu.Domain.Entities
@using Shoppu.Domain.Enums

@{
    @* var queryStringsDictionary = new Dictionary<string, string>();
        if (ViewContext.RouteData.Values["page"].Equals("/Products/Manage"))

        foreach (var queryString in Context.Request.Query)
        {
        if (queryString.Value.ToString()?.Length > 0)
        {
        if ((queryString.Key.Equals(nameof(Model.ManageProductsFilters.WithoutAnyVariants))
        || queryString.Key.Equals(nameof(Model.ManageProductsFilters.WithoutSpecifiedSizes)))
        && queryString.Value.Contains("true"))
        {
        queryStringsDictionary.Add(queryString.Key, "true");
        continue;
        }

        queryStringsDictionary.Add(queryString.Key, queryString.Value);
        }
        } *@
}

@{
    async Task generateCategories(List<ProductCategory> categories, string url, int currentLevel)
    {
        // adding Ids of all parent ProductCategries that lead to the choosen category
        // using this to display "opened" menu subcategories, and hide the ones that aren't choosen
        var listOfCategoryIdsToShow = new List<int>();
        var selectedCategory = Model.ProductCategories.FirstOrDefault(p => p.UrlName == Model.CurrentProductCategoryUrl);
        listOfCategoryIdsToShow.Add(selectedCategory.Id);
        while (selectedCategory.ParentCategoryId != null)
        {
            listOfCategoryIdsToShow.Add((int)selectedCategory.ParentCategoryId);
            selectedCategory = selectedCategory.ParentCategory;
        }

        <ul name="categories" class=" @(currentLevel == 0 ? "menu-list pl-5 " : "my-0")">
            @foreach (var category in categories)
            {
                <li>

                    @if (ViewContext.RouteData.Values["page"].Equals("/Products/Manage"))
                    {
                        <a class="py-1 @(currentLevel == 0? "px-0 has-text-weight-bold" : "") @(@Model.CurrentProductCategoryUrl.Equals(category.UrlName) ? "has-text-primary has-text-weight-bold" : "") @(@category.SpecificGender == null ? "" : category.SpecificGender.Equals("woman") ? "category-woman" : "category-man")"
            asp-page="/Products/Manage" asp-route-categoryUrl="@category.UrlName">
                            @category.Name
                        </a>

                    }
                    else
                    {
                        if (category.SpecificGender != null && !category.SpecificGender.Equals(@Model.CurrentGenderSelected))
                        {
                            continue;
                        }

                        <a class="py-1 @(currentLevel == 0? "px-0 has-text-weight-bold" : "") @(@Model.CurrentProductCategoryUrl.Equals(category.UrlName) ? "has-text-primary has-text-weight-bold" : "") "
            asp-route-gender="@Model.CurrentGenderSelected" asp-route-query="@category.QueryRoute"
            asp-route-categoryUrl="@category.UrlName">
                            @category.Name
                        </a>
                    }
                    @{
                        string newUrl = url + category.UrlName + "-";
                        bool hasSubcategories = Model.ProductCategories.Where(c => c.ParentCategoryId == category.Id).Count() > 0;
                    }
                    @if (hasSubcategories && listOfCategoryIdsToShow.Contains(category.Id))
                    {
                        await generateCategories(Model.ProductCategories.Where(c => c.ParentCategoryId == category.Id).ToList(),
                        newUrl, currentLevel + 1);
                    }
                </li>
            }
        </ul>
    }
}

<aside class="is-hidden-mobile is-hidden-tablet-only is-fullwidth browse-side-menu pull-up">
    @if (ViewContext.RouteData.Values["page"].Equals("/Products/Manage"))
    {
        <div id="sideTabs" class="tabs">
            <ul>
                <li name="categories" class="is-active"><a>Categories</a></li>
                <li name="filters"><a>Filters</a></li>
            </ul>
        </div>
    }
    @{
        int level = 0;
        var baseUrl = "";
        await generateCategories(Model.ProductCategories.Where(c => c.ParentCategoryId == null).ToList(), baseUrl, level);
    }
    @if (ViewContext.RouteData.Values["page"].Equals("/Products/Manage"))
    {
        <ul name="filters" class="is-hidden pl-5">
            <p class="title is-5 mt-5">Filter results</p>
            <form method="get" class="pr-5">
                <div style="max-height: 600px; overflow-y: auto; position:relative;">
                    <div class="field is-fullwidth">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.SortBy"></label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="sortBy" asp-for="@Model.ManageProductsFilters.SortBy"
                                asp-items="Html.GetEnumSelectList<ProductSortBy>()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-fullwidth">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.ItemsPerPage"></label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="itemsPerPage" asp-for="@Model.ManageProductsFilters.ItemsPerPage"
                                asp-items="Html.GetEnumSelectList<ItemsPerPage>()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.Code"></label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter" name="code"
                            asp-for="@Model.ManageProductsFilters.Code">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.Name"></label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter" name="name"
                            asp-for="@Model.ManageProductsFilters.Name">
                        </div>
                    </div>
                    <div class="field is-fullwidth">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.Gender"></label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="gender" asp-for="@Model.ManageProductsFilters.Gender"
                                asp-items="Html.GetEnumSelectList<ProductGender>()">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-fullwidth">
                        <label class="label mb-0" asp-for="@Model.ManageProductsFilters.AccessibilityStatus"></label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="accessibilityStatus"
                                asp-for="@Model.ManageProductsFilters.AccessibilityStatus"
                                asp-items="Html.GetEnumSelectList<ProductAccessibilityStatus>()">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                        @* <span asp-validation-for="@Model.Product.Gender" class="has-text-danger"></span> *@
                    </div>
                    <label class="checkbox mt-4 mb-0">
                        <input name="@nameof(Model.ManageProductsFilters.WithoutAnyVariants)"
                        asp-for="@Model.ManageProductsFilters.WithoutAnyVariants" type="checkbox" value="true">
                        @Html.DisplayNameFor(model => model.ManageProductsFilters.WithoutAnyVariants)
                        <input name="@nameof(Model.ManageProductsFilters.WithoutAnyVariants)" type="hidden" value="false">
                    </label>

                    <label class="checkbox mt-4 mb-0">
                        <input name="@nameof(Model.ManageProductsFilters.WithoutSpecifiedSizes)"
                        asp-for="@Model.ManageProductsFilters.WithoutSpecifiedSizes" type="checkbox" value="true">
                        @Html.DisplayNameFor(model => model.ManageProductsFilters.WithoutSpecifiedSizes)
                        <input name="@nameof(Model.ManageProductsFilters.WithoutSpecifiedSizes)" type="hidden"
                        value="false">
                    </label>
                </div>
                <a class="button mt-5 is-warning" asp-page="">Clear</a>
                <button type="submit" class="button is-link mt-5">Submit</button>
            </form>
        </ul>
    }
</aside>
<div class="is-flex is-hidden-desktop has-text-centered" style="overflow-x:scroll;">
    @foreach (var subcategory in @Model.ProductCategories?.FirstOrDefault(pc =>
    pc.UrlName.Equals(Model.CurrentProductCategoryUrl))?.SubCategories)
    {
        <a class="button mx-1 mb-4" asp-route-categoryUrl="@subcategory.UrlName" asp-route-query="@subcategory.QueryRoute"
        asp-route-gender="@Model.CurrentGenderSelected">@subcategory.Name</a>
    }

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var $tabs = $('#sideTabs ul li');

        $tabs.each((index, tab) => {
            $(tab).on('click', () => {
                var tabName = $(tab).attr('name');
                if (!$(tab).hasClass('is-active')) {
                    $(`#sideTabs li[name="${tabName == "categories" ? "filters" : "categories"}"]`).removeClass('is-active')
                    $(`ul[name="${tabName == "categories" ? "categories" : "filters"}"]`).removeClass('is-hidden');

                    $(tab).addClass('is-active')
                    $(`ul[name="${tabName == "categories" ? "filters" : "categories"}"]`).addClass('is-hidden');

                }
            })
        })

    })
</script>
