@model Shoppu.Domain.ViewModels.NavbarMenuDataViewModel
@using Shoppu.Domain.Entities


@{
    async Task generateMenu(string gender)
    {
        <div
        class="dropdown is-hoverable navbar-item is-hidden-mobile is-hidden-tablet-only is-flex p-0 has-products-main-menu navbar-menu-item">
            <div class="menu-item-box">
                <div class="is-flex is-align-items-center link-wrapper">
                    <a class="navbar-item text px-4" aria-haspopup="true" aria-controls="@(gender)Menu" asp-area=""
                asp-page="/Shop/Browse" asp-route-gender="@gender" asp-route-query="all"
                asp-route-categoryUrl="clothes">
                        <span>@gender</span>
                    </a>
                </div>
            </div>
            <div id="@(gender)Menu" role="menu" class="dropdown-menu products-main-menu">
                <div class="dropdown-content pb-6">
                    <div class="container columns mx-auto pt-3">
                        @foreach (var mainCategory in Model.MainCategoriesWithTheirSubcategories)
                        {
                            <div class="column is-3 mx-3">
                                <a class="is-6 is-uppercase is-grey" asp-area="" asp-page="/Shop/Browse" asp-route-gender="@gender"
                        asp-route-query="all" asp-route-categoryUrl="@mainCategory.UrlName">@mainCategory.Name</a>
                                <div class="is-flex is-flex-direction-column mt-4">
                                    @foreach (var subcategory in @mainCategory.SubCategories)
                                    {
                                        <div class="my-1">
                                            <a class="is-text nav-menu-sublink" asp-area="" asp-page="/Shop/Browse"
                                asp-route-gender="@gender" asp-route-query="@mainCategory.UrlName"
                                asp-route-categoryUrl="@subcategory.UrlName">
                                                @subcategory.Name
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

    };

    async Task generateTabletMenu(string gender)
    {
        <li>
            <a id="@(gender)Menu" class="navbar-item is-flex is-justify-content-space-between px-4 side-menu-item open-submenu">
                <span class="link-text">
                    @gender
                </span>
                <span class="link-icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </a>
            <div class="pl-4 submenu">
                <ul>
                    @foreach (var mainCategory in Model.MainCategoriesWithTheirSubcategories)
                    {
                        <li>
                            <p id="@gender@mainCategory.Id"
                        class="navbar-item is-flex is-justify-content-space-between px-4 side-menu-item open-submenu">
                                <span class="link-text">
                                    @mainCategory.Name
                                </span>
                                <span class="link-icon">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span>
                            </p>
                            <div class="pl-4 submenu">
                                <ul>
                                    @foreach (var subcategory in mainCategory.SubCategories)
                                    {
                                        <li>
                                            <a class="navbar-item px-4 category-link" asp-area="" asp-page="/Shop/Browse"
                                asp-route-gender="@gender" asp-route-query="@mainCategory.UrlName"
                                asp-route-categoryUrl="@subcategory.UrlName">
                                                <span class="link-text">@subcategory.Name</span>
                                            </a>
                                        </li>
                                    }
                                    <li>
                                        <a class="navbar-item has-text-link px-4 category-link" asp-area="" asp-page="/Shop/Browse"
                                asp-route-gender="@gender" asp-route-query="all"
                                asp-route-categoryUrl="@mainCategory.UrlName">
                                            <span class="link-text">See all</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </li>
    };
}

@{
    await generateMenu("woman");
    await generateMenu("man");
    @* div that takes empty space on the right side of menu - to disable hover events for flex-grow-1 dropdown items *@
    <div class="is-hidden-mobile-only is-hidden-tablet-only navbar-menu-item"></div>
    @* *@
}

<aside class="is-hidden-desktop navbar-menu-tablet pb-6">
    <ul>
        <li>
            <a class="navbar-item is-flex is-justify-content-space-between px-4 side-menu-item" asp-area=""
                asp-page="/Shop/Latest">
                <span class="link-text">
                    Latest
                </span>
                <span class="link-icon">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
            </a>
        </li>
        @{
            await generateTabletMenu("woman");
            await generateTabletMenu("man");
        }
        <li>
            <a id="accountMenu"
                class="navbar-item is-flex is-justify-content-space-between px-4 side-menu-item open-submenu">
                <span class="link-text">
                    Account
                </span>
                <span class="link-icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </a>
            <div class="pl-4 submenu">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="navbar-item px-4 category-link" asp-page="/Products/Manage"
                            asp-route-categoryUrl="clothes">
                                    <span class="link-text">Manage products</span>
                                </a>
                            </li>
                            <li>
                                <a class="navbar-item px-4 category-link" asp-page="/Products/ManageCategories">
                                    <span class="link-text">Manage categories</span>
                                </a>
                            </li>
                            <li>
                                <a class="navbar-item px-4 category-link" asp-page="/Products/ManageColors">
                                    <span class="link-text">Manage colors</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a class="navbar-item px-4 category-link" asp-area="" asp-page="/Orders/List">
                                <span class="link-text">My orders</span>
                            </a>
                        </li>
                        <li>
                            <form id="logout-form-tablet" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <a id="submit-logout-tablet" class="navbar-item px-4 category-link">Logout</a>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="navbar-item px-4 category-link" asp-area="Identity" asp-page="/Account/Login">
                                <span class="link-text">Log in</span>
                            </a>
                        </li>
                        <li>
                            <a class="navbar-item px-4 category-link" asp-area="Identity" asp-page="/Account/Register">
                                <span class="link-text">Sign up</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>


    </ul>
</aside>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        var $openSubmenuButtons = $('.open-submenu');

        $openSubmenuButtons.each((index, button) => {
            $(button).on('click', () => {
                $(button).toggleClass('is-toggled');
                $(button).children('span.link-icon')
                    .children('i').toggleClass('fa-plus').toggleClass('fa-minus')
            })
        })

        var isUserSignedIn = "@User.Identity.IsAuthenticated";
        if (isUserSignedIn === "True") {
            var submitFormLink = document.querySelector('#submit-logout-tablet');
            var form = document.querySelector("#logout-form-tablet")
            submitFormLink.addEventListener('click', () => {
                form.submit();
            })
        }

    })
</script>